ai-learning-workflow.json
{
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "61a48c7f-29f0-4cfe-9faf-6b8f78a79734",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -96,
        2048
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-learning",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 1,
      "webhookId": "ai-learning-webhook"
    },
    {
      "id": "675d0f05-d9f6-446d-9fd1-8ad5965d1b28",
      "name": "Process Webhook Input",
      "type": "n8n-nodes-base.function",
      "position": [
        112,
        2048
      ],
      "parameters": {
        "functionCode": "// Process webhook input - expect image_url and prompt\nconst input = $input.first().json;\n\n// Return the input data for processing\nreturn {\n  image_url: input.image_url || input.file_url,\n  prompt: input.prompt || input.context || input.caption\n};"
      },
      "typeVersion": 1
    },
    {
      "id": "c08670f8-81f0-41b9-ac7c-bc30847e5fba",
      "name": "Convert Photo to Base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        304,
        2048
      ],
      "parameters": {
        "options": {},
        "operation": "binaryToPropery"
      },
      "typeVersion": 1
    },
    {
      "id": "0880f91f-0499-4ee5-a813-398156eeb3b4",
      "name": "Format Image Data URL",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        2048
      ],
      "parameters": {
        "jsCode": "// Use the image_url directly from webhook input\nconst items = $input.all();\nconst updatedItems = items.map((item) => {\n  const imageUrl = item?.json?.image_url;\n  return { url: imageUrl };\n});\nreturn updatedItems;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "cb1a2a0c-38d4-47e3-9463-46a1be61f28a",
      "name": "Parse AI Response Data",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        2048
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "3782b286-b6fd-4943-8530-ff922944b803",
              "name": "base",
              "type": "string",
              "value": "={{ $json.choices[0].message.images[0].image_url.url.split(',')[1] }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "398dc9e7-4ff4-4fe8-bcad-aec622a9b63b",
      "name": "Base64 to Binary File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1136,
        2048
      ],
      "parameters": {
        "options": {},
        "operation": "toBinary",
        "sourceProperty": "base"
      },
      "typeVersion": 1.1
    },
    {
      "id": "c9cbd76a-0f2b-4d9f-aed7-0b5a0454f1fc",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1360,
        2048
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "408c2c7c-3e0a-4a56-baae-d1334fffbb49",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        1648
      ],
      "parameters": {
        "width": 2240,
        "height": 928,
        "content": "# 🤖 Nano Banana AI Image Editor \n\n## 📋 Workflow Overview\n**Purpose:** Receives photos via Telegram, processes them with AI vision, and sends back analyzed images\n\n## 🔄 Process Flow\n\n1. **📱 Photo Message Receiver**\n   - Listens for incoming Telegram messages with photos\n\n2. **⬇️ Download Telegram Photo**\n   - Fetches the photo file from Telegram servers\n\n3. **🔄 Convert Photo to Base64**\n   - Extracts binary data and converts to Base64 format\n\n4. **🔗 Format Image Data URL**\n   - Creates proper data URL format for AI processing\n\n5. **🧠 Nano Banana Image Processor**\n   - Sends image + caption to Gemini 2.5 Flash via OpenRouter\n   - AI analyzes the image and generates response\n\n6. **📊 Parse AI Response Data**\n   - Extracts image URL and metadata from AI response\n\n7. **💾 Base64 to Binary File**\n   - Converts processed image back to binary format\n\n8. **📤 Send Processed Photo**\n   - Returns the AI-processed image to Telegram chat\n\n## ⚙️ Technical Details\n- **AI Model:** Nano Banana(Gemini 2.5 Flash Image Preview)\n- **API Provider:** OpenRouter (Free tier)\n- **Target Chat ID:** Your chat id\n- **Image Format:** PNG\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "a04f072e-da6b-4d02-8369-556cfa728aab",
      "name": "Nano Banana Image Processor",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        704,
        2048
      ],
      "parameters": {
        "url": "https://api.nanobanana.ai/edit",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"image_url\": \"{{ $json.url }}\",\n  \"prompt\": \"{{ $('Process Webhook Input').first().json.prompt }}\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_NANOBANANA_API_KEY"
            }
          ]
        }
      },
      "typeVersion": 4.2
    }
  ],
  "pinData": {},
  "connections": {
    "Base64 to Binary File": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Data URL": {
      "main": [
        [
          {
            "node": "Nano Banana Image Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response Data": {
      "main": [
        [
          {
            "node": "Base64 to Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photo Message Receiver": {
      "main": [
        [
          {
            "node": "Process Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Photo to Base64": {
      "main": [
        [
          {
            "node": "Format Image Data URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Webhook Input": {
      "main": [
        [
          {
            "node": "Convert Photo to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana Image Processor": {
      "main": [
        [
          {
            "node": "Parse AI Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}